button {
  width:100%;
  padding:12px;
  border:none;
  background:#38bdf8;
  color:black;
  font-weight:bold;
  border-radius:10px;
}

@media (max-width:600px){
  body {
    padding:10px;
  }

  .card {
    font-size:15px;
  }

  h2 {
    font-size:20px;
  }
}
